/Client/3CayOnlineClient/nbproject/private/
/Server/3CayOnlineServer/nbproject/private/
/Common/3CayOnlineSharedModel/nbproject/private/
/Server/3CayOnlineServer/build/
/Client/3CayOnlineClient/build/